*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.header{
    display: flex;
    height: 8%;
    border: solid 2px black;
}

.header > h1{
    margin: auto;
}
.game_board{
    display: flex;
    width: 44%;
    height: 70%;
    border: solid 2px red;
    margin: 10px auto;
}

.player_info{
    display: flex;
    width: 40%;
    height: 18%;
    border: solid 2px yellow;
    margin: 0 auto;
}

.player_1, .player_2{
    flex-direction: row;
    width: 50%;
    height: 100%;
    border: solid 2px green;    
}

.col_0, .col_1, .col_2, .col_3, .col_4, .col_5, .col_6{
    flex-direction: row;
    width: 16.6666%;
    height: 100%;
    border:solid 1px purple;
    padding: 5px;
}

.row_0, .row_1, .row_2, .row_3, .row_4, .row_5{
    flex-direction: column;
    height: 15.5%;
    width: 100%;
    border: solid 1px rgb(2, 200, 250);
    border-radius: 50%;
    margin-top: 7px;
}

/*  Modal box Start */

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.hidden {
    display: none; 
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*  Modal box End */
