*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 4min;
}

body{
    height: 100vh;
    width: 100vw;
}

body > section {
    font-size: 0;
}
body{
 background: url('./images/body_cover_bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.section > * {
    font-size: 1rem;
}

.cover_bg{
  /* background: url('./images/body_cover_bg.jpg') no-repeat center center fixed;
  background-size: cover; */
  width:100vw;
  height: 100vh;
}

.header{
    display: flex;
    height: 10%;    
}

.header > h1{
    margin: auto;
}
.game_board{
    display: flex;
    width: 41%;
    height: 68%;
    border: none;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.player_info{
    display: flex;
    width: 40%;
    height: 18%;
    border: solid 2px white;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.4);
}

.player_1_info, .player_2_info{
    flex-direction: row;
    width: 50%;
    height: 100%;
    border: solid 2px black;   
    text-align: center;
    text-decoration: underline; 
}

.col_0, .col_1, .col_2, .col_3, .col_4, .col_5, .col_6{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 16.6666%;
    height: 100%;
    border:none;
    padding: 5px;
}

.row_0, .row_1, .row_2, .row_3, .row_4, .row_5{
    flex-direction: column;
    height: 15.5%;
    width: 100%;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 0 8px #000000;
}

.player1{
    background-image: url(images/coin-1.gif);
    background-size: 100%;
    background-position: center;
}

.player2{
    background-image: url(images/coin-2.gif);
    background-size: 100%;
    background-position: center;
}

/*  Modal box */
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.hidden {
    display: none; 
}

/* Modal Content */
.modal_content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 80%;
    width: 40%;
}

.player_text_area {
    display: flex;
    align-items: center;
    border: 2px solid white;
    justify-content: center;
    height: 15%;
    
}

.modal_main_content {
    display: flex;
    border: 2px black solid;
    height: 70%;
    justify-content: center;
    flex-direction: column;
}

.player_1_select > div,.player_2_select > div{
    border: 2px black solid;
    height: 80%;
    width: 200%;
}

.player_1_select, .player_2_select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.token_container {
    display: flex;
    flex-direction: row;
    border: 2px black solid;
    width: 100%;
    height: 50%;
    align-items: center;
}

.tokens {
    width: 25%;
    height: 90%;
    padding: 5px;
}

.tokens > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.start_area {
    display: flex;
    height: 8%;
    width: 30%;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: 20px;
    border: 2px black solid;
}

.player {
    display: flex;
    height: 50%;
    justify-content: space-around;
    padding-top: 5px;
}

.chosen_token div{
    border: 2px black solid;
    height: 80%;
    width: 30%;
}
/* The Close Button */
.start_game {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.start_game:hover,
.start_game:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.noTouch {
    pointer-events: none;
}

/*element to add fade to {
    background-color: blue;
    animation-name: fade;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: alternate;
}*/

@keyframes fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}
